.mainDiv {
    display: flex;
}

.attackerDiv {
    display: grid;
    grid-template-areas:
        "title ."
        "content attacker";
        grid-template-columns: min-content min-content;
        grid-template-rows: min-content 1fr;    /* First row auto height, second row takes remaining space */
}

.attackerFactionButton {
    grid-area: button;
    height: 20px;
}

.unitList {
    grid-area: content;
}

.attackTitle {
    grid-area: title;
    width: 100%;
    height: 100%;
    align-content: end;
    text-decoration: underline;
}

.attackList {
    grid-area: attacker;
}
